<!DOCTYPE html>
<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/option1.css') }}">
        <meta charset="utf8"/>
        <title>Display the movie of the name you entered</title>
    </head>
</html>

<body>
    <h1>Thank you! Here is the movie you are looking for!</h1>
    <table class="center">
        <tr>
          <th>Movie Name</th>
          <th>Genre</th>
          <th>Rating</th>
          <th>Votes</th>
          <th>Runtime</th>
          <th>Certificate</th>
          <th>Stars</th>
          <th>Director</th>
        </tr>
        <tr>
          <td>{{movieDict['name']}}</td>
          <td>{% for genre in movieDict['genre'] %}
            {{genre}}
            {% endfor %}</td>
          <td>{{movieDict['rating']}}</td>
          <td>{{movieDict['votes']}}</td>
          <td>{{movieDict['runtime']}}</td>
          <td>{{movieDict['certificate']}}</td>
          <td>{% for star in movieDict['star'] %}
            {{star}}
            {% endfor %}</td>
          <td>{% for director in movieDict['director'] %}
            {{director}}
            {% endfor %}</td>
          
        </tr>
      </table>



</body>